.container{
	background-color:#D3D3D3;
	padding:10px;
}
.list-item{
	display:flex;
	flex-direction:row;
	margin-right:16px;
	margin-left:16px;
	margin-top:16px;
	margin-bottom:16px;
	list-style:none;
}