.container{
	background-color:#D3D3D3;
	padding:10px;
}
.list-item{
	display:flex;
	flex-direction:row;
	list-style:none;
}
#nav-home{
	margin-right:16px;
}
#nav-about{
	margin-right:16px;
}
#nav-Contact-us{
	margin-right:16px;
}
#nav-itinerary{
	margin-right:16px;
}